html, body, #map-canvas {
    height      : 100%;
    margin      : 0;
    padding     : 0;
    font-family : sans-serif;
    }

.navbar {
    background    : none;
    border-bottom : none;
    }

.tabbar a.active {
    color : white !important;
    }

a {
    color : white;
    }

#stop-broadcast-button {
    display          : none;
    background-color : #ff2656;
    color            : white;
    }

#stop-following-button {
    display          : none;
    background-color : #ff2656;
    color            : white;
    }
#stop-broadcast-button:hover {
    display          : none;
    background-color : #d90030
    }

#stop-following-button:hover {
    display          : none;
    background-color : #d90030
    }

#broadcast-button {
    background-color : #5b7af3;
    color            : white;
    }
#broadcast-button:hover {
    background-color : #1440ee;
    }


.purple-button {
    background-color : #5b7af3;
    color            : white;
    }
.purple-button:hover {
    background-color : #1440ee;
    }
.green-button {
    background-color : #5bf388;
    color            : white;
    }
.green-button:hover {
    background-color : #7af35b;
    }
.tabbar a {
    color : white;
    }

.white-button {
    background-color : white;
    color            : #5b7af3 !important;
    }

#launch-button {
    display : none;
    }

#share-button {
    display : none;
    }

#map-page {
    padding-top    : 0px;
    padding-bottom : 0px;
    }

#map-tabbar {
    background : rgba(0, 0, 0, 0.0);
    position   : absolute;
    height     : 100px;
    border     : none;
    }

#map-navbar {
    height     : 60px;
    position   : absolute;
    border     : none !important;
    background : #5b7af3;
   /* background : -webkit-linear-gradient(180deg, #5b7af3, rgba(147, 112, 219, 0.0)); 
    background : -o-linear-gradient(180deg, #5b7af3, rgba(147, 112, 219, 0.0)); 
    background : -moz-linear-gradient(180deg, #5b7af3, rgba(147, 112, 219, 0.0)); 
    background : linear-gradient(180deg, #5b7af3, rgba(147, 112, 219, 0.0));*/ 
    }

.broadcast-button {
    font-size             : 10px;
    height                : 70px !important;
    width                 : 70px !important;
    line-height           : 70px;
    -moz-border-radius    : 50%;
    -webkit-border-radius : 50%;
    border-radius         : 50%;
    text-align            : center;
    margin                : auto !important;
    }

body.with-popup .statusbar-overlay {
    background : #5b7af3;
    }

@media all and (max-width : 629px) and (max-height : 629px) {
    body.with-popup .statusbar-overlay {
        z-index : 11000;
        }
    }

.statusbar-overlay {
    background : #5b7af3;
    }

#index {
    background-color : #5b7af3 !important;
    color            : #ffffff;
    }

.index-content {
    width      : 100% !important;
    text-align : center !important;
    }

a.white-button {
    color : #5b7af3;
    }

.index-button, .start-broadcast-button {
    font-size             : 76px;
    height                : 150px;
    width                 : 150px;
    line-height           : 150px;
    -moz-border-radius    : 50%;
    -webkit-border-radius : 50%;
    border-radius         : 50%;
    text-align            : center;
    margin                : auto !important;
    }

.index-button:hover{
    background-color: lightgray;
    }

#title {
    font-size : 68px;
    }

#subtitle {
    font-size : 32px;
    }

.pull-to-refresh-layer .pull-to-refresh-arrow {
    background : none;
    }

.page {
    background-color : #5b7af3;
    color            : white;
    }

.content-block, .content-block-title {
    color : #ffffff;
    }

.list-block ul {
    background-color : #a2b4f8;
    color            : #ffffff;
    }

body {
    color : #ffffff;
    }

.list-block textarea, .list-block input[type=text] {
    color : #ffffff;
    }

#finding-broadcast {
    display : none;
    }

.gm-style .gm-style-iw {
    color : #000000;
    }

.small-font {
    font-size   : 18px;
    font-weight : 300;
    }

.thin {
    font-weight : 300;
    }

.about-page{
    background-color: white;
    }